<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/switch.css">
    <title>Zeiterfassung</title>
</head>
<body>
    <h1><span class="blue">|</span>PR<span class="blue">.</span><span class="yellow">ONE|</pan></h1>
        <h2>Benutzer <span class="bigger">David Porter</span> angemeldet</h2>

        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onchange="newRow()">
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    
    
        
        <table class="container" id="myTable">
            <thead>
                <tr>
                    <th><h1>Zeit</h1></th>
                    <th><h1>Datum</h1></th>
                    <th><h1>Bezeichnung</h1></th>
                    <th><h1>Kommentar</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:06</td>
                    <td>Tue 17-12-2019</td>
                    <td>Kommen</td>
                    <td></td>
                    <td><button></button></td>
                </tr>                
            </tbody>
        </table>
        <script type="text/javascript">
        const checkbox = document.getElementById('myonoffswitch');
        function newRow() {
            const tableRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];

            // Insert a row in the table
            const newRow   = tableRef.insertRow(tableRef.rows.length);

            // Insert a cell
            const cell1  = newRow.insertCell(0);
            const cell2  = newRow.insertCell(1);
            const cell3 = newRow.insertCell(2);
            const cell4  = newRow.insertCell(3);
            const cell5  = newRow.insertCell(4);

            let text1  = document.createTextNode('08:06')
            let text2  = document.createTextNode('Tue 17-12-2019')
            let text3  = document.createTextNode('Kommen')
            let text4  = document.createTextNode('')
            let text5  = document.createTextNode('Entf.')
            cell1.appendChild(text1);
            cell2.appendChild(text2);
            cell3.appendChild(text3);
            cell4.appendChild(text4);
            cell5.appendChild(text5);


            // // Cell inhalt
            // cell1.innerHTML = "08:06";
            // cell2.innerHTML = "Tue 17-12-2019";
            // cell3.innerHTML = "Kommen";
            // cell4.innerHTML = "";
            // cell5.innerHTML = <button></button>;

            

            // if(checkbox.checked) {
                
            // };
        };
        </script>
</body>
</html>